.article-container{
  padding: 30px;
  .at-article__info{
    margin-bottom: 40px;
  }
  .at-article__content{
    text-indent: 60px;
    font-size: 30px;
    line-height: 55px;
    margin-top: 80px;
    img{
      display: block;
      max-width: 85%;
    }
  }
}
