.notify-box-item{
  margin: 20px 0;
  margin-bottom: 40px;
  .time{
    display: block;
    text-align: center;
  }
  .conent-card{
    margin: 30px;
    height: 220px;    
    position: relative;
    .tag{
      margin-bottom: 30px;
      &.doctor{
        color: burlywood;
        border-color: burlywood;
      }
      
    }
    .unread-point{
      width: 16px;
      height: 16px;
      border-radius: 8px;
      background-color: coral;
      position: absolute;
      right: 20px;
      top: 20px
    }
    .notify-content{
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}