.banner-container{
  min-height: 400px;
  background: #f3f3f3;
}

.article-container{
  padding: 20px;
  min-height: 300px;
  .tab-nav{
    margin-bottom: 20px;
  }
  .article-list{        
    box-sizing: border-box;
    height: 300px;
    .article-item{      
      padding: 20px;
      border-radius: 10px;
      margin: 20px 0;
      .title{
        display: block;
        padding-bottom: 30px;
        font-weight: bold;
      }
      .content-box{
        display: flex;
        .content{
          // border:1px solid red;
          width:200px;
          text-indent: 60px;
          font-size: 30px;
          line-height: 45px;
          overflow : hidden;
          text-overflow: ellipsis;
          margin-right: 15px;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          flex:1;          
        }
      }      
      
    }
  }
}
