.top-header{
  margin-top: 60px;
  height: 220px;
}

.schedule-container{
  margin-top: 40px;
  .title{
    margin-bottom: 30px;
  }
  .info{
    text-align: center;
    color: blueviolet;
  }
}

.nav-box{
  margin: 40px 0;
  .nav-header{
    display: block;
    margin-bottom: 50px;
  }
  .nav-list{
    .nav-item{
      // margin:0 60px;
      .nav-ico{
        margin-right: 20px;
      }
    }
  }
}