// @import "~taro-ui/dist/style/components/list.scss";
.form-box{
  // padding: 30px;
  .sub-title{
    margin: 20px 0;
    padding: 20px ;
    font-weight: bold;
    // border-top: 4px dashed #ccc;
  }
  .form-item{
    margin-bottom: 30px;
  }
}
.at-input-number{
  height: 40px !important;
}
